.section-dark {
  background-color: $black-ter;
}

h3 {
  font-family: $family-secondary;
  font-size: $font-medium!important;
}

p {
  font-family: $family-primary;
  font-size: 1rem;
  line-height: 1.8rem;
}